* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #e9e9e9;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
}

.nav-search nav ul {
    display: inline-block;
}

.nav-search nav a.active {
    color: #ff5714;
}

.nav-search nav li {
    display: inline-block;
    position: relative;
    list-style: none;
    padding-top: 20px;
    margin-right: 2em;
    margin-bottom: 10px;
}

.nav-search nav a {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    font-family: 'Open Sans';
}

.nav-search nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #ff5714;
    margin-right: 2em;
    width: 0%;

    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

.nav-search nav a:hover::before {
    width: 100%;
}

.nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    height: 70px;
    margin: 10px;
}

.nav-link:hover {
    color: #ff5714;
}

.home-image-div {
    display: inline-block;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.get-fit {
    position: absolute;
    color: #faf9f6;
    font-family: 'Open Sans';
    font-size: 10em;
    z-index: 1;
    margin: 0;
    width: 100%;
    top: 280px;
}

.get-fit p {
    text-align: center;
    padding: 0;
    margin: 0;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

.home-image {
    width: 100%;
    min-width: 100%;
    height: auto;
    min-height: 100%;
}

.nav-search input[type=text] {
    border: none;
    font-size: 17px;
    padding: 5px;
    margin-top: 35px;
    margin-right: 0;
    margin-bottom: 20px;
}

.nav-search button {
    border: none;
    background-color: #ff5714;
    margin-left: -4px;
    font-size: 17px;
    padding: 5px 7px;
    margin-right: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.nav-search button:hover {
    background-color: #fa4700;
}

.latest-articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
}

.latest-articles h2 {
    font-size: 28px;
    margin-top: 20px;
}

.article-row {
    display: flex;
    justify-content: center;
}

.article-post {
    border: 1px solid #e7e3e3;
    width: 25%;
    height: 500px;
    margin: 25px;
    overflow: hidden;
}

.article-image {
    height: 200px;
    width: 100%;
    background-color: #e9e9e9;
    overflow: hidden;
}

.article-post h3 {
    font-size: 24px;
    padding: 20px 20px 0px 20px;
}

.article-post h3 a {
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

.article-post h3 a:hover {
    color: #ff5714;
}

.article-post p {
    font-size: 14px;
    padding: 20px;
}

.article-post button {
    margin: 0 0 0 20px;
    border: none;
    border-radius: 10px;
    background-color: #ff5714;
    padding: 15px 20px 15px 20px;
    transition: all 0.5s;
}

.article-post button a {
    text-decoration: none;
    color: #e9e9e9;
}

.article-post button:hover {
    background-color: #c73900;
}

.bench-press {
    width: 100%;
    height: 100%;
    background-image: url(bench-press-blog-post.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.bench-press:hover {
    transform: scale(1.1);
}

.shredded-guy {
    width: 100%;
    height: 100%;
    background-image: url(shredded-guy-blog-post.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.shredded-guy:hover {
    transform: scale(1.1);
}

.tracking-macros {
    width: 100%;
    height: 100%;
    background-image: url(meal-prep-blog-post.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.tracking-macros:hover {
    transform: scale(1.1);
}

.bodyweight-workout {
    width: 100%;
    height: 100%;
    background-image: url(bodyweight-blog-post.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.bodyweight-workout:hover {
    transform: scale(1.1);
}

.crossfit {
    width: 100%;
    height: 100%;
    background-image: url(crossfit-blog-post.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.crossfit:hover {
    transform: scale(1.1);
}

.squat-mobility {
    width: 100%;
    height: 100%;
    background-image: url(squat-mobility-blog-post.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.squat-mobility:hover {
    transform: scale(1.1);
}

.blog-post-nav {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.blog-post-nav a.active-blog-page {
    color: #ff5714;
}

.blog-post-nav a {
    margin: 0 10px 0 10px;
    text-decoration: none;
    color: black;
}

.blog-post-nav a:hover {
    color: #ff5714;
}











footer {
    display: flex;
    justify-content: space-around;
    background-color: #28282b;
}

.footer-nav {
    width: 33%;
    display: flex;
    align-items: center;
}

.footer-nav nav {
    width: 100%;

}

.footer-nav ul {
    display: flex;
    justify-content: space-around;

}

.footer-nav li {
    list-style: none;
}

.footer-nav a {
    text-decoration: none;
    color: #e9e9e9;
    font-family: 'Open Sans';
}

.footer-nav a:hover {
    color:rgba(255, 87, 20, 1);
}

.footer-logo {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copyright {
    width: 33%;
    color: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
}
